body {
  font-family: serif;
  font-size: 20px;
}
#menu-bar {
  margin: 30px 0px 0px 0px;
  padding: 20px 20px 10px 20px;
  height: 30px;
  border-radius: 24px;
  background: #90b7ff;
}

#menu-bar li {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}