doctype
html(lang="en")
	head
		title Demo of View using Jade element
		link(href='/styles/employee.css',rel='stylesheet')
	body   
		H1 XYZ Bank Ltd
		OL
			LI Steve Martin
			LI Robert Mcquire
			LI Fred Thomson
		
		
