doctype html
html(lang="en")
	head
		title Demo view using Jade elements
		link(href='/styles/home.css',rel='stylesheet')
	body
		h1 XYZ Bank Ltd
		UL
			LI M.G.Road
			LI Jayanagar
			LI Jalahalli
			
	