doctype
html(lang="en")
   head
      title Demo of View using Jade elements
   body
      h2 Express Workshop
      p
         | Paragraphs can be represented in
         | multiple lines by using pipe symbol


      p
         a(href="http://www.wipro.com")   This is a hyperlink
         
      div#elements  div elements can be represented as provided here

      