doctype
html(lang="en")
	head
		title Demo of View using Jade elements
		link(href="./styles/stylus.css" rel="stylesheet")

	body
		ul
			li To reach us contact: 9988998888
		p Welcome to sample web page