doctype html
html(lang="en")
	head
		title Demo of JADE
		link(href="./styles/a.css" rel="stylesheet") 
	body
		p  This Page is sample jade!!!!!!!
		
		a(href="http://www.wipro.com")  Hyperlink
		
		div#elementsdiv elements can be represented as provided here......